.my-page {
  .my-page-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    .my-page-position {
      .my-page-position-header {
        display: flex;
        justify-content: space-between;
      }

      .my-page-position-item {
        display: flex;
        gap: 10px;
      }
    }
  }
}
