// 채용 페이지 스타일
.recruit {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .recruit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;

    .recruit-title {
      flex: 1;
      margin-right: 5px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .recruit-status {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 1.1rem;
    }
  }

  .recruit-company {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .recruit-company-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .recruit-company-detail {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 5px;
      padding: 25px;
      border-radius: 8px;
      background-color: #f5f5f5;
    }

    .recruit-company-item {
      font-size: 1.1rem;
    }

    .recruit-image-add {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // height: 200px;
      height: 100%;
      border: 1px dashed #999;
      border-radius: 8px;
      background-color: #f5f5f5;
      cursor: pointer;

      &::after {
        content: '+';
        font-size: 5rem;
        color: #999;
      }

      &:hover {
        background-color: #e5e5e5;
      }

      &:active {
        background-color: #d5d5d5;
      }
    }
  }

  .recruit-position {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .recruit-position-header {
      display: flex;
      justify-content: space-between;

      .recruit-position-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .recruit-position-list {
      padding: 15px 25px 25px 25px;
      border-radius: 8px;
      background-color: #f5f5f5;
      font-size: 1.1rem;

      .recruit-position-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #999;

        .recruit-position-item-title {
          min-width: 175px;
          font-weight: bold;
        }

        .recruit-position-item-content {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .recruit-description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .recruit-description-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .recruit-description-content {
      padding: 25px;
      border-radius: 8px;
      background-color: #f5f5f5;
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }

  .recruit-etc {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .recruit-etc-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .recruit-etc-content {
      padding: 20px 25px;
      border-radius: 8px;
      background-color: #f5f5f5;

      .recruit-etc-item {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 0;
      }
    }
  }

  .recruit-input-inline {
    display: inline;
  }
}

.recruit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.recruit-card {
  .recruit-card-description {
    /* 특정 단위로 텍스트를 자르기 위한 구문 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 텍스트를 자를 때 원하는 단위 ex) 3줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .recruit-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
